<mat-toolbar color="primary">
    <mat-toolbar-row class="align">
        <span>Repozitorij radova</span>
        <div>
            <a mat-button routerLink="/search">Pretraga</a>
            <a mat-button routerLink="/authors">Autori</a>
            <a mat-button routerLink="/publications">Publikacije</a>
            <a mat-button routerLink="/articles">Članci</a>
            <a mat-button routerLink="/login">Prijava</a>
            <a mat-button routerLink="/register">Registracija</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>