.container {
    margin-top: 20px;
    max-width: 70%;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.half-width {
    display: flex;
    width: 70%;
    max-width: 50%;
    margin: auto;
    justify-content: center;
    overflow: hidden;

}

.elipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: fit-content;
    max-width: 40%;
}