<mat-card class="half-width">
    <mat-card-header>
        {{author?.firstName}} {{author?.lastName}}
    </mat-card-header>
    <mat-card-content class="container">
        <form [formGroup]="editAuthorForm" (ngSubmit)="onSubmit()" class="column">
            <mat-form-field>
                <mat-label>Ime</mat-label>
                <input matInput [formControl]="firstNameControl">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Prezime</mat-label>
                <input matInput [formControl]="lastNameControl">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Uredi</button>
        </form>
    </mat-card-content>
</mat-card>
