.half-width {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
    margin-top: 20px;
    justify-content: center;
}
.container {
    margin: auto;
    max-width: 50%;
    margin-top: 5%;
    margin-top: 20px;
}
.column {
    display: flex;
    flex-direction: column;

}